<button class="add-button" 
    mat-fab
    (click)="onEventClicked()"
    matTooltip="Ajouter un événement">
  <mat-icon>add</mat-icon>
</button>

@if (events.length == 0){
  <div class="event-grid">
    @for(event of events; track event.id) {
      <app-event-card 
        (eventClick)="onEventClicked($event)"
        [event]=event>
      </app-event-card>
    }
  </div>
}

@else {
  <div class="no-event">
    <h1>Aucun événement à venir ...</h1>
    <br>
    <h3>Cliquer sur le boutton au bas de la page pour en créer un

    </h3>
  </div>
}

